html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #f7f7f7;
  font-family: 'Montserrat';
  margin: 0;
}
a{
  color: inherit;
  text-decoration: none;
}

.fL {
  float:left;
}
.fR{
  float: right;
}
.tR{
  text-align: right;
}
.wrap{
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}
div,footer,header {
  margin: 0px;
}
button, p, span, div, a, select, input{
  font-family: 'Montserrat'
}
h1, h2, h3, h4 {
  font-family: 'Montserrat';
  color: #4a4a4a;
}
button {
  cursor: pointer;
  outline: none;
}
select {
  cursor: pointer;
}
input {
  outline-color: #60b1ad;
}
.img-res {
  width: 100%;
}

/*   ONLY responsive properties from Bootstrap   */
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

/* Custom Styles  */
.md-Modal--centered{
  width: 400px;
}
.boxLogin {
  text-align: center;
}
.close {
  position: absolute;
  right: 4px;
  top: 0px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 16px;
  color: #6a6cbf;
}
.btnFace, .btnSubmitLogin, .emailLogin {
  font-size: 15px
}
.btnFace {
  background: #2557a0;
  border-radius: 2px;
  border: none;
  color: #fff;
  padding: 13px 13px;
  margin-bottom: 30px;
  width: 207px;
}
.btnSubmitLogin {
  background: #6a6cbf;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin-top: 10px;
  padding: 10px 18px;
  width: 207px;
}
.emailLogin {
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  margin: 10px 0px;
  padding: 8px 0px;
  text-align: center;
  width: 207px;
}
.ReactModal__Body--open {
  overflow-y: hidden;
}
.sticky .tabs{
  margin-top: 0px !important;
  background: #f7f7f7;
  display: block;
  margin-right: 130px;
  padding: 5px 0px;
}
.btn{
  background: #6a6cbf;
  border-radius: 2px;
  border: none;
  color: #fff;
}
  .btn:hover {
    background: #5d5fb5;
  }
@media (max-width: 991px) {
  .sticky .tabs {
      width: 100.5%;
      position: relative;
      right: 9px;
  }
}
